<!-- this is for user to log in our website-->
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Log in as</label>
    <select class="form-control" id="exampleFormControlSelect1" select name="person">
    <option disabled selected value="">Who are you logging in as?</option>
            <option value="student">Student</option>
            <option value="visitor">Visitor</option>

    </select>
  </div>


        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
